<div class="container">
    <div class="page-header">
        <h1>Ember Slack App
            <small>0.1 Alpha</small>
        </h1>
    </div>
{{outlet}}
</div>
<!--footer class="footer">
      <div class="container">
        <p class="text-muted"><a href='http://acs.linuxifycorp.com' target="_blank">Hire Developer</a></p>
      </div>
</footer-->
